:root {
  --text-font-family: ;
  --text-body-size: 1em;
  --text-h1-size: 2em;
  --text-h2-size: 1.5em;
  --text-label-size: 1em;

  --color-primary: teal;
  --color-primary-contrastText: white;
  --color-secondary: ;
  --color-secondary-contrastText: ;
  --color-background: ;
  --color-background-contrastText: ;
  --color-error: red;
  --color-error-contrastText: white;
  --color-success: green;
  --color-success-contrastText: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}
